<ion-header>
  <ion-toolbar>
    <ion-icon class="icon" name="menu-outline" (click)="openCustom()"></ion-icon>
    <img class="logo" src="../../assets/icon/icono_gestinmedica.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id='map'></div>
  <ion-list>
    <ion-item *ngFor="let y of camiones_hoy"  (click)="OnClickCamion(y)">
      <ion-label class="id">{{y.id}}</ion-label>
      <ion-label class="nombre">{{y.nombre}}</ion-label>
      <ion-label>{{y.empresa}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
