.id{
 
    flex: 0 0 25px;
    width: 25px;
  }
  .nombre{
      flex: 0 0 90px;
    width: 90px;
  }
  .icon{
    width: 35px; 
    height: 35px;
    margin-right: 8px;
 }
 .fecha{
  width: 50%;
  float: left;
 
}
.logo{
  margin-left: 60%;  
  width: 25%;
  height: 20%;
}
ion-item-group{
  margin: 10px;
  margin-top: 15px;
  // border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

  //  border: 1px solid grey;
}
ion-item{
  --ion-background-color: rgb(255, 255, 255) ;

}

ion-item-divider{
  --ion-background-color: rgb(59, 232, 255) ;

}
// .fijado{
//   position: fixed;
// }