<ion-header>
  <ion-toolbar>
    <ion-icon class="icon" name="menu-outline" (click)="openCustom()"></ion-icon>
    <img class="logo" src="../../assets/icon/icono_gestinmedica.png">
    <ion-button expand="full" color="success" (click)="OnClickFiltrar()">FILTRAR</ion-button>

    <div >
      <ion-item class="fecha" color="primary">
        <ion-label position="floating">DE:</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY"  max={{hasta}} value={{menos_mes}}  (ionChange)="OnClickfecha_inicio($event)" [(ngModel)]="de"></ion-datetime>
        
      </ion-item>
      
    <ion-item class="fecha" color="primary"> 
      <ion-label position="floating">HASTA:</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" min={{de}}  max={{hoy}} value={{hoy}} (ionChange)="OnClickfecha_fin($event)"  [(ngModel)]="hasta"></ion-datetime>
    </ion-item>
    <!-- <ion-item>
    <ion-button color="success"  expand="full">BUSCAR</ion-button>
  </ion-item> -->

    </div>

  </ion-toolbar>
 
</ion-header>

<ion-content>



  <ion-list >
   
    
    <ion-item-group (click)="OnClickExpedicion(y)" *ngFor="let y of connectionBBDD.arrastres_fecha">
      <ion-item-divider  color="primary">
        <ion-icon src="assets/icon/camion.svg" class="icon"></ion-icon>
        <ion-label>{{y.Cliente}}</ion-label>
      </ion-item-divider>
      <ion-item>
        
        
        <ion-label>Matricula: {{y.Matricula}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Origen: {{y.Origen}}</ion-label>
      </ion-item>
      <!-- <ion-item>
        <ion-label>Kilos: {{optenerKilos(y[0].idArrastre)}} kilos</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Bultos: {{optenerBultos(y[0].idArrastre)}}</ion-label>
      </ion-item>
     -->
     
      
      <ion-item>
        <ion-label>Fecha Salida: {{y.strFechaInicio}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Fecha Entrega: {{y.strFechaFin}}</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
  
</ion-content>
