<!-- <ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-item >

    <img class="logo" src="../../assets/icon/gestinmedica_color.png">
  </ion-item>
  
  <ion-item class="input">
    <ion-label color={{color_user}}>USER</ion-label>
    <ion-input  [(ngModel)]="input_user" ></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label color={{color_password}}>PASSWORD</ion-label>
    <ion-input [(ngModel)]="input_password" type={{type_input}}></ion-input>
    <ion-icon slot="end" name="eye-off-outline" (click)="OnClickIcon(true)" *ngIf="icono==false"></ion-icon>
    <ion-icon slot="end" name="eye-outline"  (click)="OnClickIcon(false)" *ngIf="icono"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-button expand="block" class="centro boton" (click)="OnClicklogin()">Login</ion-button>
  </ion-item>
  
  
 
  

</ion-content>
