.centro {

    margin: 0 auto;
}
ion-content{
  
}
.logo {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 10px;

  width: 400px;
  height: 50px;
}

.input{
   
    margin-left: 10%;  
 margin-right: 10%;    
}

.div{
  
    margin-left: 15%;
}
.boton{
    width: 60%;
    height: 30px;
}
a{
    margin-left: 20px;
}