<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img class="logo" src="../../assets/icon/icono_gestinmedica.png">
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-list-header lines="inset">
      <ion-label>New This Week</ion-label>
      <ion-label>ID Arrastre: {{Arrastre_contenido.idArrastre}}</ion-label>
    </ion-list-header> -->
    <ion-list>
    <div>
      <ion-label class="item">ID Arrastre: </ion-label>
      <ion-label class="resul">{{Arrastre_contenido.idArrastre}}</ion-label>
    </div>
    <div>
      <ion-label class="item">Cliente: </ion-label>
      <ion-label class="resul"> {{Arrastre_contenido.Cliente}}</ion-label>
    </div>
    <div>
      <ion-label class="item">ID Vehiculo: </ion-label>
      <ion-label class="resul">{{Arrastre_contenido.idVehiculo}}</ion-label>

    </div>
    <div>
      <ion-label class="item">Matricula: </ion-label>
      <ion-label class="resul">{{Arrastre_contenido.Matricula}}</ion-label>

    </div>
    <div>
      <ion-label class="item">Marca Vehiculo: </ion-label>
      <ion-label class="resul">{{Arrastre_contenido.MarcaVehiculo}}</ion-label>

    </div>
    <div>
      <ion-label class="item">Modelo Vehiculo:</ion-label>
      <ion-label class="resul">{{Arrastre_contenido.ModeloVehiculo}}</ion-label>

    </div>
    <div>
      <ion-label class="item">Nombre Chofer:</ion-label>
      <ion-label class="resul">{{Arrastre_contenido.NombreChofer}}</ion-label>

    </div>
    <div>
      <ion-label class="item">Origen:</ion-label>
      <ion-label class="resul">{{Arrastre_contenido.Origen}}</ion-label>

    </div>
    <div>
      <ion-label class="item">Fecha Salida:</ion-label>
      <ion-label class="resul">{{Arrastre_contenido.strFechaInicio}}</ion-label>

    </div>
    <div>
      <ion-label class="item">Hora Salida:</ion-label>
      <ion-label class="resul">{{Arrastre_contenido.HoraInicio}}</ion-label>

    </div>
    <div>
      <ion-label class="item">Fecha Llegada:</ion-label>
      <ion-label class="resul">{{Arrastre_contenido.strFechaFin}}</ion-label>

    </div>
    <div>
      <ion-label class="item">Hora Llegada:</ion-label>
      <ion-label class="resul">{{Arrastre_contenido.HoraFin}}</ion-label>

    </div>
    <div>
      <ion-label class="item">Bultos:</ion-label>
      <ion-label class="resul">{{optenerBultos(Arrastre_contenido.idArrastre)}}</ion-label>

    </div>
    <div>
      <ion-label class="item">Kilos:</ion-label>
      <ion-label class="resul">{{optenerKilos(Arrastre_contenido.idArrastre)}}Kg</ion-label>

    </div>

 
  </ion-list>
  
</ion-content>
