.logo{
    margin-left: 60%;  
    width: 25%;
    height: 20%;
}
.objeto{
    border: 1px solid red;
    width: 135px;
    position: relative;
    
   

}
ion-list{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin: 10px;
}
div > *{ float: left; }
div{
    // border: 1px solid red;
    // margin-top: 20px;
    // margin-bottom: 20px;
    height: 60px;
    // padding-top: 50px;
    // padding: 10px;
    z-index: 100;
}
.item{
    height: 60px;
    padding-top: 20px;
    width: 35%;
    text-align: center;
    // border: 1px solid white;

   background-color: #3880FF;
    color: white;
}
.resul{
    padding-top: 20px;
     border: 0.5px solid rgb(156, 156, 156);
    height: 60px;
   
    text-align: center;
    width: 65%;
}