<ion-app>
  <ion-menu menuId="custom" side="start">
    <ion-header>
      <ion-toolbar translucent>
        <img class="logo" src="../../assets/icon/gestinmedica_color.png">

      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="OnClickRecepcionesPendientes()">
         
          <ion-icon name="mail" class="recepciones" slot="start"></ion-icon>
          <ion-label>Recepciones Pendientes</ion-label>
        </ion-item>
        <ion-item (click)="OnClickUltimasRecepciones()">
          <ion-icon name="paper-plane" slot="start"></ion-icon>
          <ion-label>Ultimas Recepciones</ion-label>
        </ion-item>
      
        
        <ion-item (click)="OnClickMapa()">
          <ion-icon name="map" slot="start"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-item>
        <ion-item (click)="OnClickEnviarIncidencia()">
          <ion-icon name="send" slot="start"></ion-icon>
          <ion-label>Enviar Incidencia</ion-label>
        </ion-item>
        <ion-item (click)="OnClickModificarPerfil()">
          <ion-icon name="create" slot="start"></ion-icon>
          <ion-label>Modificar Perfil</ion-label>
        </ion-item>
        <ion-item (click)="OnClickCerrarSession()">
          <ion-icon src="../assets/icon/logout.svg" slot="start"></ion-icon>
          <ion-label>Cerrar Session</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>

</ion-app>
