#notification-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}
.recepciones{
    position: relative;
}

#notifications-badge {
    background-color: red;
    // position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
    border: 1px solid red;
}