<ion-header>
  <ion-toolbar>
    <ion-icon class="icon" name="menu-outline" (click)="openCustom()"></ion-icon>
    <img class="logo" src="../../assets/icon/icono_gestinmedica.png">
  </ion-toolbar>
</ion-header>

<ion-content class="content">

  <ion-list>
    
    

    <ion-item-group button  *ngFor="let y of connectionBBDD.arrastres_hoy">
      
      <ion-item-divider (click)="OnClickExpedicion(y)"  color="primary">
        <ion-icon src="assets/icon/camion.svg" class="icon"></ion-icon>
        <ion-label>{{y.Cliente}}</ion-label>
      </ion-item-divider>
      <ion-item (click)="OnClickExpedicion(y)">
        
        <ion-label>Matricula: {{y.Matricula}}</ion-label>
      </ion-item>
      <ion-item (click)="OnClickExpedicion(y)">
        <ion-label>Origen: {{y.Origen}}</ion-label>
      </ion-item>
     
      <ion-item (click)="OnClickExpedicion(y)">
        <ion-label>Fecha Salida: {{y.strFechaInicio}}</ion-label>
      </ion-item>

      <ion-item (click)="OnClickExpedicion(y)">
        <ion-label>Hora Salida: {{y.HoraInicio}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label (click)="OnClickExpedicion(y)">Movil: {{y.MovilChofer}}</ion-label>
        <ion-button color="primary" (click)="OnCLickllamar()"><ion-icon name="call"></ion-icon></ion-button>
      </ion-item>
      
    </ion-item-group>
    
  </ion-list>


  
  
  
</ion-content>

