.entregado{
   
    --background: greenyellow;
}
.problema{
    --background: red;
}
.icon{
   width: 35px; 
   height: 35px;
   margin-right: 8px;
}
.logo{
    margin-left: 60%;  
    width: 25%;
    height: 20%;
}
// .expedicion{
//     width: 100%;
//     border: 1px solid red;
//     position: relative;
// }
// .expedicion > * {
//     width: 90%;
//     border: 1px solid blue;
//     float: left;
.alertDanger{
    background-color: white;
    color: red;
    button{
        color: red;
    }
}
button.boton{
    text-align: center !important;
    border: 1px solid red !important;
    color: red !important;
    --color: red !important;
}
.alertInput{
    --color: red !important;
    border: 1px solid red !important;
    --background: red !important;	
}
// }
ion-item-group{
    margin: 10px;
    margin-top: 15px;
    // border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

    //  border: 1px solid grey;
}
ion-item{
    --ion-background-color: rgb(255, 255, 255) ;

}

ion-item-divider{
    --ion-background-color: rgb(59, 232, 255) ;

}
.content{
    // --ion-background-color: rgb(156, 240, 252);
}
// .item{
//     border: 1px solid red;
//     height: 150px;
// }
// .alertInput {
// 	text-align:center;

// 	button.alert-button:nth-child(1) {
// 		float:left;
// 		width: 100px;
// 	}
// 	button.alert-button:nth-child(2) {
// 		display: inline-block;
//                 width: 100px;
// 	}
// 	button.alert-button:nth-child(3) {	
// 		float:right;
//                 width: 100px;
// 	}
// }

// .alert-button-group {
//     flex-direction: row !important;
//   }

//   .id{
 
// 	flex: 0 0 25px;
// 	width: 25px;
//   }
//   .nombre{
// 	  flex: 0 0 90px;
// 	width: 90px;
//   }
.alertInput{
    .alert-title { text-align: center; }
     .alert-sub-title { text-align: center; } 
     .alert-message { text-align: center; }
     
    .alert-button-inner { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
}