.fecha{
    width: 50%;
    float: left;
   
}
.boton{
    // margin: 40 auto;
    // margin-left: 5px;
    float: left;
    width: 32%;
}
.logo{
    margin-left: 60%;  
    width: 25%;
    height: 20%;
}