<ion-header>
  <ion-toolbar>
    <img class="logo" src="../../assets/icon/icono_gestinmedica.png">
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-item class="fecha" color="primary">
    <ion-label position="floating">DE:</ion-label>
    <ion-datetime displayFormat="YYYY-MM-DD"  max={{hasta}} value={{menos_mes}}  [(ngModel)]="de"></ion-datetime>
    
  </ion-item>
  
<ion-item class="fecha" color="primary"> 
  <ion-label position="floating">HASTA:</ion-label>
  <ion-datetime displayFormat="YYYY-MM-DD" min={{de}}  max={{hoy}} value={{hoy}}  [(ngModel)]="hasta"></ion-datetime>
</ion-item>
<ion-button color="danger" expand="block" class="boton" (click)="openCalendar()">BORRAR</ion-button> -->

<img *ngIf="image" [src]="image" alt="image">
<ion-button color="danger" expand="block" class="boton" (click)="OnClickCancelar()" >Cancelar</ion-button>

<ion-button color="warning" expand="block" class="boton" (click)=" OpenCamera()">Repetir Foto</ion-button>

<ion-button expand="block" class="boton" (click)="OnClickConfirmar()" >Confirmar</ion-button>
<!-- <ion-calendar [(ngModel)]="dateRange" [readonly]="false" [options]="optionsRange" (change)="onChange($event, 2)" [type]="type" [format]="'YYYY-MM-DD'" >
</ion-calendar> -->

<!-- <ion-calendar [(ngModel)]="dateRange"
              [options]="optionsRange"
              [type]="type"
              [format]="'YYYY-MM-DD'">
</ion-calendar> -->
</ion-content>
