<ion-header>
  <ion-toolbar>
    <ion-icon class="icon" name="menu-outline" (click)="openCustom()"></ion-icon>
    <img class="logo" src="../../assets/icon/icono_gestinmedica.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label>Seleccion Vehiculo</ion-label>
    <ion-select [(ngModel)]="select_incidencia_vehiculo"  interface="action-sheet">
      <ion-select-option value={{y.idArrastre}} *ngFor="let y of connectionBBDD.arrastres_hoy">{{y.Matricula}}</ion-select-option>
     
    </ion-select>
  </ion-item>
  <ion-item>  
    <ion-label>Seleccion Incidencia</ion-label>
    <ion-select [(ngModel)]="select_incidencia"  interface="action-sheet">
      <ion-select-option value={{y.id}} *ngFor="let y of inci">{{y.contenido}}</ion-select-option>
     
      <ion-select-option value=7>Redactar Incidencia...</ion-select-option>

    </ion-select>
  </ion-item>
  <ion-item class="textarea" *ngIf="select_incidencia_vehiculo!=0">
    <ion-label position="stacked">Vehiculo:</ion-label>
    <ion-label rows="1" cols="20" >{{mostrarMatricula(select_incidencia_vehiculo)}}</ion-label>
  </ion-item>

  <ion-item class="textarea" *ngIf="select_incidencia!=0 && select_incidencia!=7">
    <ion-label position="stacked">Incidencia:</ion-label>
    <ion-textarea rows="6" cols="20" disabled [placeholder]="mostrarIncidencia(select_incidencia)" [(ngModel)]="contenido"></ion-textarea>
  </ion-item>
  <ion-item class="textarea" *ngIf="select_incidencia==7">
    <ion-label position="stacked">Incidencia:</ion-label>
    <ion-textarea rows="6" cols="20" placeholder="Redacte su incidencia..." [(ngModel)]="contenido"></ion-textarea>
  </ion-item>
 
  <ion-button color="danger" expand="block" class="boton" (click)="OnClickBorrar()">BORRAR</ion-button>

  <ion-button expand="block" class="boton" (click)="OnClickEnviar()">ENVIAR INCIDENCIA</ion-button>

</ion-content>
