.textarea{
    margin-top: 50px;
    position: relative;

}
.textarea > *{
    width: 80%;
    position: relative;
    // border: 1px solid red;
    float: left;
}
.boton{
    margin: 40 auto;
    margin-left: 5px;
    float: left;
    width: 48%;
}
.icon{
    width: 35px; 
    height: 35px;
 }
 .logo{
    margin-left: 60%;  
    width: 25%;
    height: 20%;
}