.icon{
    width: 35px; 
    height: 35px;
 }
 .input{
   margin-top: 10%;
    margin-left: 5%;  
 margin-right: 5%;    
}
.border{
    border: 1px solid red;
}
.logo{
    margin-left: 60%;  
    width: 25%;
    height: 20%;
}