<ion-header>
  <ion-toolbar>
    <ion-icon class="icon" name="menu-outline" (click)="openCustom()"></ion-icon>
    <!-- <ion-title class="border">Modificar Perfil</ion-title> -->
    <img class="logo" src="../../assets/icon/icono_gestinmedica.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="input">
    <ion-label >Nueva Usuario:</ion-label>
    <ion-input  [(ngModel)]="new_user" type="text"></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label >Nueva Contraseña:</ion-label>
    <ion-input [(ngModel)]="new_password" type={{type_input_password}}></ion-input>
    <ion-icon slot="end" name="eye-off-outline"   (click)="OnClickIcon_password(true)" *ngIf="icono_new==false"></ion-icon>
    <ion-icon slot="end" name="eye-outline"  (click)="OnClickIcon_password(false)" *ngIf="icono_new"></ion-icon>
  </ion-item>
  
  <ion-item class="input">
    <ion-label>Repetir Contraseña:</ion-label>
    <ion-input  [(ngModel)]="repeat_new_password" type={{type_input_repeat_password}}></ion-input>
    <ion-icon slot="end" name="eye-off-outline"   (click)="OnClickIcon_repeat(true)" *ngIf="icono_repeat==false"></ion-icon>
    <ion-icon slot="end" name="eye-outline"  (click)="OnClickIcon_repeat(false)" *ngIf="icono_repeat"></ion-icon>
  </ion-item>

  <ion-button expand="full" (click)="Confirmacion_modificacion()">MODIFICAR</ion-button>

</ion-content>
